galleryMobile/node_modules/
galleryMobile/.expo/
galleryMobile/npm-debug.*
galleryMobile/*.jks
galleryMobile/*.p8
galleryMobile/*.p12
galleryMobile/*.key
galleryMobile/*.mobileprovision
galleryMobile/*.orig.*
galleryMobile/web-build/

# macOS
galleryMobile/.DS_Store
